ACCOUNT_ID=xxx
REGION=cn-shanghai
ACCESS_KEY_ID=yyy
ACCESS_KEY_SECRET=zzz
TIMEOUT=10
RETRIES=3

ALIBABA_CLOUD_ACCESS_KEY_ID=YYY
ALIBABA_CLOUD_ACCESS_KEY_SECRET=ZZZ
ALIBABA_CLOUD_ACCOUNT_ID=xxx
ALIBABA_CLOUD_DEFAULT_REGION=cn-shanghai
OSS_BUCKET=libre-office